
h3,h5,h7,h9,h10{
    font-family: "Times New roman";
     font-size:25px;
     color: black ;
    font-weight: bolder;
}
#hunt{
    position: center;
}
.content{
    margin-top:10px;
}
.expect{
    font-family: "Times New roman";
    font-size: 20px;
}
h4,h6,h8{
    color:red;
      font-family: "Times New roman";
      font-weight: bold;
      font-style: italic;
}
.apply{
    text-align: left;
}
#kek{
    text-align: left;
}
#fff{
  background-color:teal;  
}
.navbar{
    background-color:teal;
    
}